<div class="container">
<h1>Deploy Application to  github steps</h1>
  <h2>step1: create a git reposirory</h2>
  <h2>step2: clone the repo : git clone https://github.com/abhiramikc/ng-deploy.git</h2>
  <h2>step3: redirect to that repo cd ng-deploy</h2>
  <h2>step4: create angular application : ng new ng-deploy --directory ./</h2>
  <h2>step5: do all the changes in application</h2>
  <h2>step6: In angular.json check the output path is dist/ng-deploye(projectname)</h2>
  <h2>step6: ng build --output-path docs --base-href /ng-deploy/</h2>
  <h2>this command will create docs folder instead of dist and set baseURL to   base href="/ng-deploy/"</h2>
  <h2>step7: commit all the files and push the code</h2>
  <h2>step8 : in github Settings->pages -> set Branches to main and /docs then save</h2>
  <h2>step 9: wait or got to Action tab and see the deployment progress.</h2>
</div>
