<h1>Deployment github test</h1>

step1: create a git reposirory
step2: clone the repo : git clone https://github.com/abhiramikc/ng-deploy.git
step3: redirect to that repo cd ng-deploy
step4: create angular application : ng new ng-deploy --directory ./
step5: do all the changes in application.js
step6: In angular.json check the output path is dist/ng-deploye(projectname)
step6: ng build --output-path docs --base-href /ng-deploy/
this command will create docs folder instead of dist and set baseURL to   <base href="/ng-deploy/">
step7: commit all the files and push the code
step8 : in github Settings->pages -> set Branches to main and /docs then save
step 9: wait or got to Action tab and see the deployment progress.
